@font-face{
  src: url("../fonts/BMJUA_ttf.ttf");
  font-family: "jua";
}

/*홈페이지*/
      #cream{
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        font-family: Helvetica;
        margin-bottom: 60px;
        color:gold
      }
      
      #wallpaper{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }
      .nav-link{
        font-family: Helvetica;
        font-weight: bold;
        font-size: 3vw;
      }
      .navbar{
        border: 5px solid whitesmoke;
      }
      .main_banner{
        text-align: center;
      }
      body{
        background-color: rgba(152, 32, 233, 0.712);
      }
      #todays a{
        font-size: 20px;
        vertical-align: middle;
      }
/*백예린 페이지*/
#yrb-comment{
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto sans KR', sans-serif;
  word-break: normal;
}
#yrb-lnk{
  text-align: center;
}
.profile{
  border: 1px solid orange;
  background-color: papayawhip;
  border-radius: 20px;
  padding : 10px;
  max-width : 50vh;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 10px 10px 25px 1px green;
  margin-top: 30px;
}
.profile h1{
  text-align: center;
  font-family: 'Noto sans KR', sans-serif;
  margin-bottom: 25px;
}

/*secret*/
#gate{
  margin-top: 30px;
 text-align: right;
 margin-right: 15px;
}
#_secret{
  text-align: center;
}
#secret_wall{
      background-color: rgb(61, 60, 60);
    }
#secret_wall h1{
      color:whitesmoke;
    }
#jmback{
  margin-left: 30px;
}
/*RYUKEE*/    
#ryukee_title{
  text-align: center;
  font-size: 48px;
  font-family: sans-serif;
}

.tracks{
  text-align: center;
}

.jacket{
  margin-top: 30px;
  text-align: center;
}
.song a{
  text-align: center;
  line-height: 54px;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;
  font-family: Helvetica;
}
/**/
/*로그인 창*/
#loginbg{
  background-color: rgba(0, 0, 0, 0.918);
}
#login{
  text-align: center;
}
#login input{
  margin-top: 20px;
  font-size : 2em;
  width: 50%;
  padding: 20px;
}
#submit{
  margin-top: 30px;
  padding: 15px;
  width: 50%;
  font-size: 2em;
  border: 3px solid black;
  border-radius: 5px;
  color:white;
  background-color: black;
}
/**/
#love{
  background-color: pink;
}
.symbol{
  font-size: 24px;
  text-decoration: none;
}


.diaryBody {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: rgba(175, 238, 238, 0.3);
  color: lightcoral;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

/* Global Typography */


.dButton {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}

/* Section Container Positions, Spacing, Utilities */

header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}

/* Button Standard */



.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
}

/* Project Starts Here */

/* Journal Entry Section */

/* Title */

.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

.entry-text-title:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

/* Text Box */

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }
}

.entry-text-box:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}

/* Journal Results Section */

.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 1em auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;

  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightgoldenrodyellow;
}